.main {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px 0, 0, 0;

  h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      outline-width: none;
      color: black;
      font-weight: 700;
      transition: all 0.3s ease;

      input:placeholder-shown {
        border-color: teal;
        color: rgb(0, 0, 0);
        font-weight: 700;
      }

      &:hover {
        border-color: teal;
        transform: scale(1.1);
        color: rgb(0, 0, 0);
        font-weight: 700;
      }
    }

    button {
      width: 100%;
      padding: 10px;
      border: 3px solid #fff;
      border-radius: 5px;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      background-color: var(--fadedGreen);
      font-weight: 700;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
        // Increase the height
        height: 50px;
        color: #fff;
      }
    }
  }
}
